node_modules/*
node_modules
.env
.cache
server/database/statsData.json
backend/.dockerignore
credential.json
google-sheets-to-json-master/
backend/package-lock.json
backend/package-lock.json
backend/src/routes/auth/oauth2.keys.json
frontend/.env.production
ssl/
cert.crt
